<template>
  <div class="input-wrapper">
    <span>
      {{label}}
    </span>
    <input
      type="text"
      v-model="innerValue"
      @input="onInput"
    >

  </div>
</template>

<script>

export default {
  name: 'CustomInput',

  props: {
    label: {
      type: String,
      default: 'Custom Input Label',
    },
    value: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      innerValue: '',
    };
  },

  watch: {
    value: {
      handler(newValue) {
        this.innerValue = newValue;
      },
      immediate: true,
    },
  },

  methods: {
    onInput() {
      this.$emit('change', this.innerValue);
    },
    maskInput(event) {
      this.$emit('maskInput', event);
    },
  },
};
</script>

<style scoped lang="scss">
  .input-wrapper{
    display: flex;
    flex-direction: column;

    span{
      margin-bottom: 6px;
    }

    input{
      border: 1px solid #dddddd;
      border-radius: 5px;
      padding: 8px 12px;
      margin-bottom: 12px;
      flex: 1;
    }
  }

</style>
