<template>
  <div class="example-mask-wrapper">
    <div class="mask-input-wrapper" v-for="(mask, idx) in maskList" :key="'mask-'+idx">
      <CustomInput
        v-if="mask.customInput"
        :ref="'input-'+idx"
        :placeholder="mask.placeholder"
        v-model="mask.value"
        v-mask="mask.mask"
        @maskInput="maskInput(idx, $event)"
      />
      <input
        v-else
        :ref="'input-'+idx"
        v-model="mask.value"
        v-mask="mask.mask"
        :placeholder="mask.placeholder"
        @maskInput="maskInput(idx, $event)"
      />
      <Table
        :unmasked-value="mask.unmaskedValue"
        :mask="mask.mask"
        :value="mask.value"
      />
    </div>
  </div>
</template>

<script>
import CustomInput from './CustomInput.vue';
import Table from './Table.vue';

export default {
  name: 'MaskExample',

  components: { CustomInput, Table },

  data() {
    return {
      maskList: [
        {
          mask: {
            mask: '0(511) 111 11 11',
          },
          value: '05388787472',
          placeholder: 'Phone Number',
          unmaskedValue: '',
          completed: false,
        },
        {
          mask: {
            mask: '0(511) 111 11 11',
            showPlaceholder: 'hover',
          },
          value: '',
          placeholder: 'Phone Number',
          exampleValue: '',
          unmaskedValue: '',
          completed: false,
        },
        {
          mask: {
            mask: 'TR11 1111 1111 1111 1111 1111 11',
            showPlaceholder: 'focus',
            showMaskOnValue: true,
          },
          value: '',
          placeholder: 'IBAN',
          unmaskedValue: '',
          completed: false,
        },
        {
          customInput: true,
          mask: {
            mask: 'TR11 1111 1111 1111 1111 1111 11',
            showPlaceholder: true, // hover, focus
            showMaskOnValue: true,
            onUnMask: (value) => value.split(' ').join(''),
          },
          value: '',
          placeholder: 'IBAN',
          unmaskedValue: '',
          completed: false,
        },
      ],
    };
  },

  methods: {
    maskInput(idx, event) {
      this.$set(this.maskList, idx, {
        ...this.maskList[idx],
        ...event.detail,
      });
    },
  },
};
</script>

<style scoped lang="scss">
.example-mask-wrapper{
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #dddddd;
  border-radius: 5px;

  .mask-input-wrapper{
    &:not(:first-child){
      margin-top: 16px;
    }
    display: flex;
    flex-direction: column;

    input{
      border: 1px solid #dddddd;
      border-radius: 5px;
      padding: 8px 12px;
      margin-bottom: 12px;
    }
  }
}
</style>
