<template>
  <table>
    <tbody>
    <tr>
      <td>mask</td>
      <td>
        <pre v-html="maskString"></pre>
      </td>
    </tr>
    <tr>
      <td>value</td>
      <td>{{ value }}</td>
    </tr>
    <tr>
      <td>unmaskedValue</td>
      <td>{{ unmaskedValue }}</td>
    </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: 'Table',

  props: {
    value: {
      type: String,
      default: '',
    },
    unmaskedValue: {
      type: String,
      default: '',
    },
    mask: {
      type: [String, Object],
      default: '',
    },
  },

  data() {
    return {
      functionStringId: 'renderFunctionString',
    };
  },

  computed: {
    maskString() {
      return this.prettyPrint(this.mask);
    },
  },

  methods: {
    renderFunctionString(pVal, pIndent, r) {
      const functionName = '<span class=json-func-name>';
      const functionReturn = '<span class=json-func-return>';
      const functionSpan = '<span class=json-func>';
      const functionString = pVal.replace(this.functionStringId, '');
      const name = functionString.match(/function(.*?)\(/)[1].trim();
      const functionValueArr = functionString
        .replace('}', '')
        .split('{')[1]
        .split('\\n')
        .filter((v) => v.replace('"', '').trim())
        .map((v) => {
          if (v.includes('return ')) {
            return `${pIndent}${pIndent}${functionReturn}return </span>${v.replace('return ', '').trim()}`;
          }
          return `${pIndent + pIndent + v.trim()}</span>`;
        });
      const res = `${functionSpan}function</span> ${functionName}${name}</span> {
${functionValueArr.map((v) => v)}
${`${pIndent}}`}`;
      return r + res;
    },
    replacer(match, pIndent, pKey, pVal, pEnd) {
      const key = '<span class=json-key>';
      const val = '<span class=json-value>';
      const str = '<span class=json-string>';
      let r = pIndent || '';
      if (pKey) r = `${r + key + pKey.replace(/[": ]/g, '')}</span>: `;
      if (pVal) {
        if (pVal.includes(this.functionStringId)) {
          r = this.renderFunctionString(pVal, pIndent, r);
        } else {
          r = `${r + (pVal[0] === '"' ? str : val) + pVal}</span>`;
        }
      }
      return r + (pEnd || '');
    },
    prettyPrint(obj) {
      const jsonLine = /^( *)("[\w]+": )?("[^"]*"|[\w.+-]*)?([,[{])?$/mg;
      return JSON.stringify(obj, this.converter, 3)
        .replace(jsonLine, this.replacer);
    },
    converter(key, val) {
      if (typeof val === 'function') {
        return `${this.functionStringId}${val}`;
      }
      return val;
    },
  },

};
</script>

<style scoped lang="scss">
table {
  table-layout: fixed;
  border-collapse: collapse;

  tr {
    td {
      padding: 8px;
      border: 1px solid #dddddd;

      &:first-child {
        width: 150px;
      }
      pre {
         background-color: ghostwhite;
         border: 1px solid silver;
         border-radius: 4px;
         padding: 10px 20px;
         margin: 20px;

        &::v-deep {
          .json-key {
            color: brown;
          }
          .json-value {
            color: navy;
          }
          .json-string {
            color: olive;
          }
          .json-func {
            color: brown;
          }
          .json-func-name {
            color: darkgoldenrod;
          }
          .json-func-return {
            color: brown;
          }
        }
       }
    }
  }
}
</style>
