<template>
  <div id="app">
    <Example/>
  </div>
</template>

<script>
import Example from './components/Example.vue';

export default {
  name: 'App',
  components: {
    Example,
  },
};
</script>

<style></style>
